<!DOCTYPE html>

<html>
<head>
    <title>Phone numbers</title>
    <script type="text/javascript", src="/static/update.js"></script>
    <style>
        .topright{
        position: absolute;
        top: 8px;
        right:16px}
    </style>
</head>
<body style="background-color:#fef466">
    <h1>Telephone book</h1>
    <div class="topright">
        <button onClick="Clear()" name="Clear", id="clear">
        <label for="clear">Clear book</label>
    </div>
    <form action="" id="TelForm">
        <div>
            <label for="name" > Name:</label>
            <input type="text" id="name" class="form-control"><br></br>
        </div>
        <div>
            <label for="tel">Telefon number: </label>
            <input type="text" id="tel" class="form-control">
        </div>
        <button onClick="num()">Submit</button>
    </form>
    <ul>
        {% for contact in contacts_list %}
            <div>
                <div>{{ contact["name"]}}............{{ contact["phone"] }}</div>
            </div>
        {% endfor %}
    </ul>
</body>
</html>
